<!DOCTYPE html>
<html lang="en">
<head>
    <title>Smart Table</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<nav class="navbar navbar-expand-md navbar-bg-warning sticky-top bg-warning navbar-light">
    <a class="navbar-brand"  href="logo.png"></a>
    <i class="mdi mdi-music"> </i>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header" aria-controls="header" aria-expanded="false">

    </button>
    <div class="collapse navbar-collapse" id="header">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline my-2 my-md-0 mr-md-2" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search" [formControlName]="'searchField'">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-light">
                        <i class="mdi mdi-search-web"></i>
                    </button>
                </div>
            </div>
        </form>
        <ul class="navbar-nav ml-md-2">
            <li class="nav-item">
                <a class="nav-link" routerLink="/sign-in" *ngIf="!logInStatus">Sign In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="onSignOut()" *ngIf="logInStatus" class="btn">Sign Out</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/sign-up" *ngIf="!logInStatus" class="btn btn-outline-light ">Sign Up</a>
            </li>
        </ul>
    </div>
</nav>
